<%- include('partials/header') -%>
<%- include('partials/roleUsuario')  -%> 

<link rel="stylesheet" href="/css/tabela.css">

<table class='tabela-resumo' cellspacing="0">
    <thead>
        <tr>
            <th colspan="3">Total de Atividades Desenvolvidas: <%= resumo.total %></th>
        </tr>
        <tr class="first-child">
            <th>Nível</th>
            <th>Acertos</th>
            <th>Erros</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Fácil </td>
            <td> <%= resumo.acertosFacil %> </td>
            <td> <%= resumo.errosFacil %> </td>
        </tr>
        <tr>
            <td> Difícil </td>
            <td> <%= resumo.acertosDificil %> </td>
            <td> <%= resumo.errosDificil %> </td>
        </tr>
    </tbody>
</table>

<div class="tabela-atividades">
    <h2 class="titulo">Histórico de Atividades</h2>

    <table cellspacing="0">
        <thead>
            <tr class="first-child">
                <th>Nível</th>
                <th>Acertos</th>
                <th>Erros</th>
            </tr>
        </thead>
        <tbody>
            <!--carregaremos as atividades da resposta-->
            <% atividades.reverse().forEach(atividade => { %>
            <tr>
                <td> <%= atividade.nivel %> </td>
                <td> <%= atividade.acertos %> </td>
                <td> <%= atividade.erros %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>